runtime: nodejs10
automatic_scaling:
  min_instances: 1
env_variables:
  POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  FIRELIGHTER_USERNAME: ${FIRELIGHTER_USERNAME}
  FIRELIGHTER_PASSWORD: ${FIRELIGHTER_PASSWORD}
